@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.circle-container{
  @apply flex justify-center items-center absolute w-full min-h-screen overflow-hidden
}
.circle{
  @apply -z-50 w-[450px] h-[450px] rounded-full bg-gradient-to-b from-[#fa39ad]/50 to-[#fe6c4c]/50 absolute animate-ambient blur-3xl
  before:content-[''] before:absolute before:translate-x-16 before:translate-y-16 before:w-full before:blur-3xl before:h-full before:rounded-full before:bg-gradient-to-b before:from-[#CD81FF]/50 before:to-[#49E5A4]/50
}